<div class="">
	<h1>漫画詳細</h1>
	<%= attachment_image_tag @comic,:comic_image, :fill, 100, 100, format: 'jpeg' %><br>
	<%= t('.title') %>:<%= @comic.title %>(<%= @comic.title_en %>)<br>
	<%= t('.author') %>:<%= @comic.author %>(<%= @comic.author_en %>)<br>
	<%= t('.publisher') %>:<%= @comic.publisher %>(<%= @comic.publisher_en %>)<br>
	<%= t('.ISBN') %>:<%= @comic.isbn_code %><br>
	<%= t('.outline') %>:<%= @comic.body %><br>

	<h2><%= t('.Comment') %></h2>
	<!--コメント一覧-->
	<div class="comment_<%= @comic.id %>">
		<%= render 'comments/index', comments: @comic_comments %>
	</div>
	<!--コメント投稿-->
	<% if user_signed_in? %>
		<div class="comment-post">
			<%= form_with model: [@comic, @comment], data: {remote: true}  do |f| %>
			 <%= f.text_area :comment, class: "input-mysize"  %>
			 <%= f.submit 'submit', class: "btn btn-primary" %>
			<% end %>
		</div>
	<% end %>
</div>