<div class="row">
	<div>
		<h1><%= t('.What is MangaMarks?') %></h1>
		<p><%= t('.For all the people loving manga') %></p>

		<h1><%= t('.function') %></h1>
		<h4><%= t('.record') %></h4>
		<p><%= t('.when you read manga, you record it') %></p>
		<h4><%= t('.reviews') %></h4>
		<p><%= t('.you can review favorite manga') %></p>
		<h4><%= t('.follow') %></h4>
		<p><%= t('.following favorite user') %></p>
		<h4><%= t('.search') %></h4>
		<p><%= t('.search concern manga') %></p>
    </div>
</div>
