<!DOCTYPE html>
<html>
  <head>
    <title>MangaMarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
    <div class="container">
    <nav>
    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
    <% if user_signed_in? %>
      <li><%= link_to t('.Notice') %></li>
      <li><%= link_to t('.Trend'), comics_path %></li>
      <li><%= link_to t('.News') %></li>
      <li><%= link_to t('.Mypage') %></li>
      <li><%= link_to t(".Logout"), destroy_user_session_path, method: :delete %></li>
      <li><%= link_to('日本語', :locale => 'ja') %></li>
      <li><%= link_to('English', :locale => 'en') %></li>
    <% elsif admin_signed_in? %>
      <li><%= link_to ' 漫画', admins_comics_path  %></li>
      <li><%= link_to ' 会員'  %></li>
      <li><%= link_to 'お知らせ' %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path , method: :delete %></li>
    <% else %>
      <li><%= link_to t(".About"), homes_about_path %></li>
      <li><%= link_to t(".News") %></li>
      <li><%= link_to t(".SignUp"), new_user_registration_path %></li>
      <li><%= link_to t(".Login"), new_user_session_path %></li>
      <li><%= link_to('日本語', :locale => 'ja') %></li>
      <li><%= link_to('English', :locale => 'en') %></li>
    <% end %>
  </ul>
</nav>
</div>
</header>
    <%= yield %>
  </body>
</html>
